.mainDiv {
    display: inline-block; 
    border: 1px solid black; 
    background-color: bisque;
    height: 233px;
    width: 133px;
}

img {
    image-rendering: pixelated;
    vertical-align: middle;
}

h3 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

span {
    vertical-align: middle;
}

.scoreLine {
    align-items: center;
    margin-bottom: 3px;
}

.current {
    filter: drop-shadow(0px 0px 3px lime);
}