<button type="button" (click)="reset()">New Game</button>
|
Black:
<select name="black-selector" id="black-selector" (change)="onBlackChange($event)">
    <option value="{{ aiLevel.human }}" selected="selected">Human</option>
    <option value="{{ aiLevel.dumb }}">Dumb AI</option>
    <option value="{{ aiLevel.smart }}">Smart AI</option>
    <option value="{{ aiLevel.smart_plus }}">Smart+ AI</option>
</select>
White:
<select name="white-selector" id="white-selector" (change)="onWhiteChange($event)">
    <option value="{{ aiLevel.human }}">Human</option>
    <option value="{{ aiLevel.dumb }}">Dumb AI</option>
    <option value="{{ aiLevel.smart }}">Smart AI</option>
    <option value="{{ aiLevel.smart_plus }}" selected="selected">Smart+ AI</option>
</select>
